ENVIRONMENT=development
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost:7400,http://127.0.0.1:7400

USE_POSTGRES=False
POSTGRES_NAME=sosguinee
POSTGRES_DB=sosguinee
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

PAYCARD_API_KEY=change-me
PAYCARD_API_SECRET=change-me
PAYCARD_ENDPOINT=https://api.paycard.com

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_CLIENT_DOMAIN=localhost
EMAIL_TIMEOUT=15
SITE_URL=http://localhost:8000
