
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% include "page/components/nav.html" %}

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'img/articles/img7.avif' %}"></div>
  <div class="container showcase-content">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel">
          <span class="category-sports">Sports</span>
          <h1>Some Sport Articles</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In accusantium quos minima, sapiente ipsa, consequuntur, saepe non eveniet exercitationem nisi quod natus atque expedita quo. Voluptatibus, est? Voluptate, iure harum?</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="home-articles" class="section ">
  <div class="container">
    <h2>Editor Picks</h2>
    <div class="row card">
      <div class="col s12 m4">
        <div class="card card-horizontal">
          <div class="card-image">
            <img src="{% static 'img/articles/img1.avif' %}">
            <span class="card-title">Entertainment</span>
          </div>
          <div class="card-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam eius ducimus optio veniam sit nihil beatae ea autem. Doloribus.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-horizontal">
          <div class="card-image">
            <img src="{% static 'img/articles/img1.avif' %}">
            
          </div>
          <div class="card-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam eius ducimus optio veniam sit nihil beatae ea autem. Doloribus.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-horizontal">
          <div class="card-image">
            <img src="{% static 'img/articles/img1.avif' %}">
            
          </div>
          <div class="card-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam eius ducimus optio veniam sit nihil beatae ea autem. Doloribus.</p>
          </div>
        </div>
      </div>
      <!-- Répétez pour les autres articles -->
    </div>
  </div>
</section>

<section id="products-catalog" class="section">
  <div class="container">
    <h2 class="center-align">Our Products</h2>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'img/products/product1.jpg' %}">
            <span class="card-title">Product 1</span>
          </div>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="price">$19.99</p>
          </div>
          <div class="card-action">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'img/products/product2.jpg' %}">
            <span class="card-title">Product 2</span>
          </div>
          <div class="card-content">
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
            <p class="price">$29.99</p>
          </div>
          <div class="card-action">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'img/products/product3.jpg' %}">
            <span class="card-title">Product 3</span>
          </div>
          <div class="card-content">
            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
            <p class="price">$39.99</p>
          </div>
          <div class="card-action">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-us" class="section card">
  <div class="container">
    <h2 class="center-align">Contact Us</h2>
    <div class="row">
      <div class="col s12 m6">
        <form>
          <div class="input-field">
            <input type="text" id="name">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input type="email" id="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <textarea id="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col s12 m6">  
        <div class="card-panel">
          <span class="category-sports">Nous contacter</span>
          <h5>besoin d'informations</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p> 
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works" class="section">
  <div class="container">
    <h2 class="center-align">How it works</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Step 1</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Step 2</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Step 3</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Step 4</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Link to donate page -->
 <section id="donate">
  <a href="#" class="btn-large waves-effect waves-light red btn-donate">
    <i class="material-icons">donate</i>
  </a>
</section>

<section id="donate">
 <div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__media">
    <img src="/articles/img1.avif">
  </div>
  <div class="mdl-card__content">
    <div class="mdl-card__title-text">
      Card title
      <p>P One</p>
      <p>P two</p>
    </div>
  </div>
</section>

{% comment %} <a href="{% url 'donate' %}" class="btn-floating btn-large waves-effect waves-light red btn-donate">
  <i class="material-icons">donate</i>
</a {% endcomment %}
 




{% include "page/components/footer.html" %}

{% endblock %}
