
{% extends 'base.html' %}
{% load static %}
{% block title %}Détails de la Demande de Financement{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}
{% include "page/components/nav.html" %}

<section id="Details" class="section">
  <h4 class="center-align">Détails de demande de financement N°&nbsp;{{funding_request.id}}</h4>
<div class="container mt-5">
  
  <div class="row">
      <!-- Image Section -->
      <div class="col s12 m12 12">
        <div class="card horizontal">
          <div class="card-image">
            <span class="yellow category">{{funding_request.funding_request_status}}</span>
            <img src="{{ funding_request.principal_image.url }}" class="full-size"  alt="Image Principale">
         
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m12 l12 detail-info">
                  <h3>{{ funding_request.title }}</h3>
                  <p><b>Montant Demandé:</b> {{ funding_request.funding_amount }} GNF</p>
                  <table>
                    <tbody>
                        <tr>
                          <td colspan="2">
                            <div class="progress">
                              <div class="determinate" style="width: {{funding_request.progress}}%"></div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><b>Progrès : </b> </td>
                          <td>{{ funding_request.progress }}%</td>
                        </tr>
                        <tr>
                          <td><b>Jours Restants :</b> </td>
                          <td>{{ funding_request.days_remaining }}</td>
                        </tr>
                        <tr>
                          <td><b >Beneficiaire :</b>  </td>
                          <td>{{ funding_request.beneficiary_name }}<td></tr>
                        <tr>
                          <td><b>Télephone:</b> </td>
                          <td>{{ funding_request.phone }}<td></tr>
                        <tr>
                          <td><b>Ville/Prefecture:</b> </td>
                          <td>{{ funding_request.city }}<td></tr>
                        <tr>
                          <td><b>Quartier:</b> </td>
                          <td>{{ funding_request.quarter }}<td></tr>            
                        <tr>
                          <td><b>Adresse:</b> </td>
                          <td>{{ funding_request.address }}<td></tr>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>
                            {% if funding_request.email %} {{ funding_request.email }} {% else %} Aucun {% endif %}
                             </td></tr>
                    </tbody>
                  </table>
                </div>
            </div>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

         
      </div>
      
      <!-- Product Details Section -->
      
  </div>
  <hr>
  <div class="row">
    <div class="col s12 l12 m12">
      <div class="card-panel">
        <h5>Description</h5>
        {{ funding_request.description_needs }} 
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s12 l12 m12">
      <div class="card-action">
        <h5>Autres documents</h5>
        <div class="row">
         
          {% for doc in funding_request.optional_docs.all %}
      
            <div class="col s12 m4 l3">
              <iframe src="{{ doc.document.url }}" class="responsive-img" alt="Image Facultative" />
            </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</div>
</section>


{% include "page/components/footer.html" %}

{% endblock %}
