
{% extends 'base.html' %}
{% load static %}
{% block title %}Merci - SOS Guinée{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>Merci pour votre {{ action }}!</h4>
        <p>Votre contribution de {{ amount|format_fr }} GNF a été reçue avec succès.</p>
        <p>Un mail de confirmation vous a été envoyé.</p>
        <p>Votre contribution est grandement appréciée.</p>
        <a href="{% url 'home' %}" class="btn waves-effect waves-light">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</section>



{% endblock %}
