{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="{% url 'home' %}">
                    Aller à <strong>&laquo; Accueil</strong>
                </a>
                <span class="right">
                    <a href="{% url 'home' %}">
                        Aller à <strong>Accueil</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
           
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <br>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            
                            <form  action="/" id="loginForm" method="POST" autocomplete="off"> 
                                {% csrf_token %}
                                <h1>Connexion</h1> 
                                <div data-error class="alert" >
                                    <div id="error-message">
                                        
                                    </div>
                                    <br>
                                </div>
                              
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Email</label>
                                    <input id="username" name="username" id="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Mot de passe </label>
                                    <input id="password" name="password" id="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
									
								</p>
                                <p class="login button"> 
                                    <input type="submit" value="Connexion" /> 
								</p>
                                <p class="change_link">
									Pas encore de compte ?
									<a href="{% url 'register' %}" class="to_register">S'inscrire</a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
  {% endblock content %}
  {% block extra_js %}
  <script src="{% static 'assets/login/js/login.js' %}"></script>
  {% endblock extra_js %}