{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion OTP - SOS Guinée{% endblock %}
{% block extracss %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="{% static 'assets/login/css/login.css' %}">
{% endblock %}

{% block content %}
  <main role="main">
    <section class="section container" aria-labelledby="login-heading">
        <h3 id="login-heading" class="center-align">Connexion avec un code OTP</h3>
        <p class="center-align">Fonctionnalité en cours de développement...</p>
    </section>
  </main>
{% endblock %}
