{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Signup{% endblock title %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="{% url 'home' %}">
                    Aller à <strong>&laquo; Accueil</strong>
                </a>
                <span class="right">
                    <a href="{% url 'home' %}">
                        Aller à <strong>Accueil</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
           
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <p></p>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/" id="signupForm" method="POST" autocomplete="on"> 
                                <h2> Inscription </h2> 
                                {% csrf_token %}
                                <div class="alert">
                                    <div id="error-messages">
                                    </div>
                                    <br>
                                </div>
                                <p> 
                                    <label data-icon="u" for="signup_civility" class="youcivility">Civilité</label>
                                    <select  name="signup_civility" class="uname" id="signup_civility"  required >
                                        <option value="{{null}}" disabled selected>Choisir civilité</option>
                                        <option value="Mr">Monsieur</option>
                                        <option value="Mme">Madame</option>
                                    </select>
                                 </p>
                                <p> 
                                    <label for="signup_firstname" class="uname" data-icon="u" > Prénom(s) </label>
                                    <input id="signup_firstname" name="signup_firstname" required="required" type="text" placeholder="myfirstname"/>
                                </p>
                                <p> 
                                    <label for="signup_lastname" class="uname" data-icon="u" >Nom </label>
                                    <input id="signup_lastname" name="signup_lastname" required="required" type="text" placeholder="mylastname"/>
                                </p>
                                <p> 
                                    <label for="email_signup" class="youmail" data-icon="e" > Email</label>
                                    <input id="signup_email" name="signup_email" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                                </p>
                               
                                <p> 
                                    <label for="signup_password" class="youpasswd" data-icon="p">Mot de passe </label>
                                    <input id="signup_password" name="signup_password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                    
                                </p>
                                <p> 
                                    <label for="signup_password_confirm" class="youpasswd" data-icon="p">Confirmation mot de passe </label>
                                    <input id="signup_password_confirm" name="signup_password_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p> 
                                
                                 <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Afficher les mots de passe</label>
								</p>
                                <p class="signin button"> 
									<input type="submit" value="S'inscrire"/> 
								</p>
                                <p class="change_link">  
									Déjà un membre ?
									<a href="{% url 'login' %}" class="to_register"> Se connecter </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
  {% endblock content %}
  {% block extra_js %}
  <script src="{% static 'assets/login/js/signup.js' %}"></script>
  {% endblock extra_js %}