<!--User profil with picture-->
{% extends 'base.html' %} {% load static %} {% block title %}Profile{% endblock
title %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/profil/profil.css' %}" />
{% endblock extra_css %} {% block content %}
<!-- USer informations profil -->

<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>

<div class="preloader">
  <div class="preloader__image"></div>
</div>
<!-- /.preloader -->

<div class="page-wrapper">
  {% include 'pages/components/header.html' %}
  <div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
  </div>
  <!-- /.stricky-header -->

  <section>
    <div class="profil-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="my-3">
              <hr />
            </div>

            <div class="file-upload">
              <div class="row mb-5 gx-5">
                <div class="col-xxl-8 mb-5 mb-xxl-0">
                  <div class="bg-secondary-soft px-3 py-3 rounded card">
                    <div class="row g-3 card-body">
                      <h4 class="mb-4 mt-0">Information Personnelles</h4>

                      <div class="col-md-6">
                        <label class="form-label">Prénom(s)</label>
                        <input
                          type="text"
                          class="form-control"
                          disabled
                          placeholder
                          aria-label="First name"
                          value="{{ user.first_name }}"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Nom</label>
                        <input
                          type="text"
                          class="form-control"
                          disabled
                          placeholder
                          aria-label="Last name"
                          value="{{ user.last_name }}"
                        />
                      </div>
                      {% if profile.phone %}
                      <div class="col-md-6">
                        <label class="form-label">Téléphone</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Phone number"
                          value="{{ profile.phone }}"
                        />
                      </div>
                      {% endif %}

                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label"
                          >Email
                        </label>
                        <input
                          type="email"
                          class="form-control"
                          id="inputEmail4"
                          value="{{ user.email }}"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Nom d'utilisateur</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Phone number"
                          value="{{ user.username }}"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Date de naissance</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Date de naissance"
                          value="{{ profile.birth_date }}"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Lieu de naissance</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Lieu de naissance"
                          value="{{ profile.birth_place }}"
                        />
                      </div>
                      <div class="col-md-4">
                        {{ form.civility.label_tag }} {{ profile.civility }}
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="bg-secondary-soft px-3 py-3 rounded card">
                    <div class="row g-3 card-body">
                      <h4 class="mb-4 mt-0">Information Complémentaires</h4>

                      <div class="col-md-12">
                        <label class="form-label">Adresse</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Adresse"
                          value="{{ profile.address }}"
                        />
                      </div>
                      {% if profile.country %}
                      <div class="col-md-4">
                        <label class="form-label">Pays</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Pays"
                          value="{{ profile.country }}"
                        />
                      </div>
                      {% endif %} {% if profile.city %}
                      <div class="col-md-5">
                        <label class="form-label">Pays</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Ville"
                          value="{{ profile.city }}"
                        />
                      </div>
                      {% endif %} {% if profile.zip_code %}
                      <div class="col-md-3">
                        <label class="form-label">Code Postal</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Code Postal"
                          value="{{ profile.zip_code }}"
                        />
                      </div>
                      {% endif %}
                      <div class="col-md-6">
                        <label class="form-label">Catégorie</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Categorie"
                          value="{{ profile.categorie}}"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Profession</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Profession"
                          value="{{ profile.profession}}"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-4">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="mb-4 mt-0">Photo</h4>
                      <div class="text-center">
                        <div class="square position-relative display-2 mb-3">
                          {% if user_details.photo %}
                          <img
                            src="{{ user_details.photo.url }}"
                            alt="Photo de profil"
                          />
                          {% else %}
                          <i
                            class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"
                          ></i>

                          {% endif %}
                        </div>

                        <!--<input type="file" id="customFile" name="file" hidden>-->
                        <label
                          class="btn btn-success-soft btn-block"
                          for="customFile"
                          >Upload</label
                        >
                        <button type="button" class="btn btn-danger-soft">
                          Remove
                        </button>

                        <p class="text-muted mt-3 mb-0">
                          <span class="me-1">Note:</span>Minimum size 300px x
                          300px
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-5 gx-5">
                <div class="col-xxl-6 mb-5 mb-xxl-0">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="mb-4 mt-0">Lien réseaux sociaux</h4>

                      <div class="col-md-6">
                        <label class="form-label"
                          ><i
                            class="fab fa-fw fa-facebook me-2 text-facebook"
                          ></i
                          >Facebook
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Facebook"
                          value="{{ profile.facebook }}"
                        />
                      </div>

                      <div class="col-md-6">
                        <label class="form-label"
                          ><i class="fab fa-fw fa-twitter text-twitter me-2"></i
                          >Twitter *</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Twitter"
                          value="{{ profile.twitter }}"
                        />
                      </div>

                      <div class="col-md-6">
                        <label class="form-label"
                          ><i
                            class="fab fa-fw fa-linkedin-in text-linkedin me-2"
                          ></i
                          >Linkedin</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Linkedin"
                          value="{{ profile.linkedin }}"
                        />
                      </div>

                      <div class="col-md-6">
                        <label class="form-label"
                          ><i
                            class="fab fa-fw fa-instagram text-instagram me-2"
                          ></i
                          >Instagram</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder
                          aria-label="Instragram"
                          value="{{ profile.instagram }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-6">
                  <div class="bg-secondary-soft px-4 py-5 rounded">
                    <div class="row g-3">
                      <h4 class="my-4">Change Password</h4>

                      <div class="col-md-6">
                        <label for="exampleInputPassword1" class="form-label"
                          >Old password *</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword1"
                        />
                      </div>

                      <div class="col-md-6">
                        <label for="exampleInputPassword2" class="form-label"
                          >New password *</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword2"
                        />
                      </div>

                      <div class="col-md-12">
                        <label for="exampleInputPassword3" class="form-label"
                          >Confirm Password *</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword3"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gap-3 d-md-flex justify-content-md-end text-center">
                <button type="button" class="btn btn-danger btn-lg">
                  Delete profile
                </button>
                <button type="button" class="btn btn-primary btn-lg">
                  Update profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %} {% block extra_js %}
<script src="{% static 'assets/profil/profil.js' %}"></script>
{% endblock extra_js %}
