{% load static %}
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Logo</h5>
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
          <p class="grey-text text-lighten-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit deserunt assumenda enim non? Ratione ipsum voluptates fuga eos earum vitae.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Site Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Help & Support</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2024 All Rights Reserved
      </div>
    </div>
  </footer>