<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'une alerte</title>
</head>
<body>
    <p>Bonjour Madame/Monsieur,{{name}}</p>
    <p>Vous avez ajoute une alerte de type {{ type }}.</p>
    <p>Avec les informations suivantes:</p>
    <p>Nom: {{ name }}</p>
    <p>Type d'alerte: {{ type }}</p>
    <p>Date: {{ date }}</p>
    <p>Heure: {{ hour }}</p>
    <p>Commune/Prefecture: {{ city }}</p>
    <p>Quartier: {{ quarter }}</p>
    <p>Adresse: {{ address }}</p>
    <p>Telephone: {{ phone }}</p>
    <p>Email: {{ email }}</p>
    <p>Remarque: {{ description }}</p>
</body>
</html>