{% load custom_filters %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'une demande de financement</title>
</head>
<body>
    <p>Bonjour Madame/Monsieur {{name}},</p>
    <p>Vous avez fait une demande de financement</p>
    <p>Voici les informations suivantes:</p>
    <p>Nom: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Télephone: {{phone}}</p>
    <p>Montant: {{amount|format_fr}}</p>
    <br>
    <p>Merci pour votre demande.</p>
</body>
</html>