{% load custom_filters %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau paiement </title>
</head>
<body>
    <p>Bonjour Madame/Monsieur {{ name }},</p>
    <p>Vous avez fait une contribution de {{ amount|format_fr }} GNF à <strong>{{ beneficiary_name }}</strong>  pour <strong>{{ title }}</strong>.</p>
    <p>Merci pour votre contribution.</p>
</body>
</html>
