{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% include "page/components/nav.html" %}

<div class="parallax-container lg">
    <div class="parallax"><img src="{% static 'img/articles/img7.avif' %}"></div>
    <div class="container showcase-content">
        <div class="row">
            <div class="col">
                <div class="card-panel mgt-10">
                    <div class="center-align">
                        {% if request %}                    
                            <h4 class="green-text">Demande de financement ajoutée avec succes !</h4>
                            <p> Un message de confirmation vous a été envoyé par courriel.</p>                   
                        {% else %}
                        <!--Redirect to home-->
                        <h1 class="red-text">Ajout de Demande de financement Impossible. </h1>
                        {% endif %}
                        <p><a href="{% url 'home' %}">Retourner à l'accueil</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}