<section class="section container" id="comments-container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col s12">
            <form id="comment-form" method="post" action="{% url 'add_comment' model_name object_id %}">
                {% csrf_token %}
                {{ comment_form.text }}
                <button type="submit" class="btn waves-effect waves-light blue">
                    <i class="material-icons left">send</i> Commenter
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel yellow lighten-4">
                <strong>Veuillez vous connecter pour commenter.</strong>
                <a href="{% url 'login' %}" class="btn-small blue darken-2 right">
                    <i class="material-icons left">login</i> Se connecter
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col s12">
            <h5 class="mt-4">Commentaires récents</h5>
            <div id="comments-list">
                {% if comments %}
                    {% for comment in comments %}
                        {% include 'page/components/comments/comment_item.html' with comment=comment user=user %}
                    {% endfor %}
                {% else %}
                    <p class="grey-text center-align">Aucun commentaire pour l’instant.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Modal de confirmation de suppression de commentaire -->
<div id="delete-comment-modal" class="modal">
  <div class="modal-content">
    <h5>Supprimer ce commentaire ?</h5>
    <p>Cette action est définitive et supprimera le commentaire.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn-flat">Annuler</a>
    <a href="#!" id="confirm-delete-comment" class="modal-close btn red">Supprimer</a>
</div>
</div>




<!-- Modal d'édition de commentaire -->
<div id="edit-comment-modal" class="modal">
  <div class="modal-content">
    <h5>Modifier votre commentaire</h5>
    <div class="input-field">
      <textarea id="edit-comment-text" class="materialize-textarea" rows="3"></textarea>
      <label for="edit-comment-text" class="active">Texte</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn-flat">Annuler</a>
    <a href="#!" id="confirm-edit-comment" class="modal-close btn green">Enregistrer</a>
  </div>
</div>
